@font-face {
    font-family: 'Sansation';
    src: url('/assets/fonts/sansation/Sansation_Regular.ttf');
    font-display: swap; /* Prevent invisible text during font loading */
}

@font-face {
    font-family: 'Sansation Bold';
    src: url('/assets/fonts/sansation/Sansation_Bold.ttf');
    font-display: swap;
}

:root {
    /* Color palette */
    --primary-cyan: #00FFFC;
    --secondary-cyan: #00b9be;
    --dark-blue: #00142b;
    --medium-blue: #003347;
    --text-white: #ffffff;
    
    /* Common spacing */
    --border-radius: 15px;
}

* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    list-style: none;
    text-decoration: none;
    user-select: none;
    font-family: 'Sansation';
    /* border: 1px solid red; */
}

/* Utility classes for common patterns */
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

html,
body {
    height: 100%;
    overflow-x: hidden;
    scrollbar-width: none;
    scroll-behavior: smooth;
    scrollbar-color: #003347 transparent;
    /* overflow: hidden; */
}

.body-default-shrink,
.body-game-shrink {
    display: grid;
}

.body-game-shrink {
    grid-template-columns: 0rem 1fr !important;
    grid-template-rows: 10rem 1fr !important;
    grid-template-areas: "head head" "sidebar content" "content content" !important;
    transition: grid 1s ease;
}

.body-default-shrink {
    grid-template-columns: 20rem 1fr;
    grid-template-rows: 12rem calc(100% - 16rem) 4rem;
    grid-template-areas: "head head" "sidebar content" "foter foter";
}

@media screen and (max-width: 1900px) {
    .body-default-shrink {
        grid-template-columns: 5rem 1fr;
        grid-template-rows: 12rem calc(100% - 16rem) 4rem;
        grid-template-areas: "head head" "sidebar content" "foter foter";
    }
}

*::-webkit-scrollbar {
    display: none;
}

body {
    color: #ffffff;
    background: linear-gradient(73deg, #00142ba8 10%, #003347a8 100%), url(/images/background.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Sansation';
    position: relative;
}

body::before {
    content: "";
    background: url(/images/top.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 7%;
    position: absolute;
    opacity: 0.25;
    z-index: -1;
    top: 1%;
}

body::after {
    content: "";
    background: url(/images/bottom.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 7%;
    position: absolute;
    opacity: 0.25;
    z-index: -1;
    top: 93%;
}

img {
    max-width: 100%;
}

side-bar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 7rem;
    margin-left: 4%;
}

header-bar {
    grid-area: head;
    display: flex;
}

root-content {
    grid-area: content;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 2%;
    margin: 0;
}

game-table {
    position: relative;
    width: 100%;
    height: 100%;
    grid-area: content;
    display: flex;
    justify-content: center;
    align-items: center;
}

launching-game {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: rgba(230, 255, 255, 0.08);
}

game-over {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    background-color: #00142b99;
}

footer-bar {
    grid-area: foter;
    width: 100%;
    display: flex;
}

footer-bar img {
    width: 30%;
}

footer-bar {
    color: white;
    font-size: 1.5rem;
}

*::-webkit-scrollbar {
    display: none;
}

.alerts {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #00142b99;
    z-index: 99;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.right-sidebar {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 15%;
    max-width: 350px;
    height: 100%;
    position: absolute;
    right: 0;
    background-color: #00334780;
    padding-top: 20px;
    animation-duration: 1s;
    animation-name: slidein;
}

notifications-list,
friends-request-list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.notificationsBar-header {
    width: 90%;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Sansation bold';
}

.notificationsBar-header h3 {
    flex-grow: 1;
    text-align: center;
}

.notificationsBar-body {
    flex: 1;
    width: 100%;
    padding: 10px;
    overflow-y: scroll;
}

.notificationsBar-footer {
    width: 100%;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    background-color: #003347;
}

.notification-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}


/**
    @NOTIFICATION TAMPLATES
    <message-notification></message-notification>
    <new-friend-notification></new-friend-notification>
    <tournament-notification></tournament-notification>
*/

.mainContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.message {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.message c-hexagon {
    min-width: 56px;
    min-height: 56px;
}

.profile-icon {
    width: 100%;
    height: 100%;
    background: url("/assets/images/profile/tanjuro.webp");
    background-position: center;
    background-size: cover;
}

.notification-actions {
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.notification-actions img {
    width: 24px;
    height: 24px;
}

.display-errors {
    width: 100px;
    /* height: 32px; */
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
    font-size: 24px;
    font-family: 'Sansation Bold';
}