.vscode
.DS_Store
.env
ignore
dist
node_modules

#Ignore all vscode settings
**/.vscode

#Ignore all .DS_Store files.
.DS_Store
**/.DS_Store
.pnpm-store

#Ignore all docker environments
# **/.env

#Ignore all virtual environment
**/.venv

# Ignore all Python bytecode files
*.pyc

# Ignore all __pycache__ directories
**/__pycache__/

# Ignore all .py files in migrations directories, except __init__.py
**/migrations/*.py
!**/migrations/__init__.py

# Ignore node_modules directory
node_modules

*.py[cod]
*.log
*.pot
*.pyc
__pycache__/

*backend/media/avatars/
*backend/media/covers/
*backend/static/*

backend/static

# find . -type d -name "__pycache__" -exec rm -r {} \+
# find . -path "*/migrations/*.py" -not -name "__init__.py" -delete
# find . -path "*/migrations/*.pyc"  -delete
