@import url('https://fonts.cdnfonts.com/css/sansation');
/* @import url('https://fonts.googleapis.com/css2?family=Sansation&display=swap'); */
/* body {
    color: #ffffff;

    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;
} */

/* Header.js */

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header h1 {
    /* border: solid red 1px; */
    text-align: center;
    font-family: 'Sensation', sans-serif;
    font-size: 4rem;
    padding: 10px;
    margin: 5px;
}

.header img {
    /* border: 1px solid red; */
    height: 15px;
    margin-bottom: 20px;
}

/* Shape.js */

login-page , signup-page {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem; 
}

shape-cpn, #test {
    /* border: 1px solid red; */
    position: relative;
    height: 640px; /* 800px * 0.8 = 640px */
    width: 618px; /* 773px * 0.8 = 618.4px */
    display: flex;
    justify-content: center;
    align-items: center;
}

#background  {
    background-image: url('/assets/auth-svg/box.svg');
    /* border: 1px solid red; */
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#background::before {
    content: "";
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    background-color: #052357;
}

#content {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    height: 100%;
    width: 93%;
}

#inner-header {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #00FFFC;
    font-size: 1rem;
    font-family: 'Sensation', sans-serif;
    margin-top: 5%;
    /* border: 1px solid red; */
}

#inner-header::before,
#inner-header::after {
    content: "";
    width: 120px;
    height: 1rem;
}

#inner-header::before {
    background: url('/assets/auth-svg/leftHeader.svg') no-repeat;
}

#inner-header::after {
    background: url('/assets/auth-svg/rightHeader.svg') no-repeat;
    margin-left: 25px;
}

input-field {
    /* border: 1px solid red; */
    width: 75%;
    height: 10%;
}

.input-container {
    background: url('/assets/auth-svg/borderField.svg') no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

.input-container img.input-icon {
    margin-left: 10%;
}

.input-container img.eye-icon {
    margin-left: auto; /* Push the eye icon to the right */
    margin-right: 5%;
    flex-shrink: 0;
}


.input-container input {
    border: none;
    outline: none;
    box-shadow: none;
    background: transparent;
    caret-color: #2F679E;
    color: #2F679E;
    font-family: 'Sansation', sans-serif;
    font-weight: 700;
    width: 100%;
    flex: 1;
    padding-right: 0.5rem;
}

.input-container input::placeholder {
    color: #2F679E;
    font-family: 'Sansation', sans-serif;
    font-weight: 700;
}

submit-button {
    /* border: 1px solid red; */
    width: 75%;
    height: 10%;
    margin-top: auto;
    margin-bottom: 15%;
}

submit-button button {
    background-color: #134C84;
    color: white;
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-family: 'Sansation', sans-serif;
    font-weight: 700;
    border: none;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
}

submit-button button:hover {
    background-color: #1966b1; /*0d3257*/
}

#content p {
    /* border: 1px solid red; */
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Sansation', sans-serif;
    font-size: 12px;
    font-weight: 300;
    text-align: center;
}

#content p a {
    font-weight: 500;
    color: white;
}

#content p a:hover {
    color: #1966b1;
}

.warning {
    color: #fc3d3d;
    visibility: hidden;
    font-size: smaller;
}

.warning.show {
    visibility: visible;
}

/* ----> LoginPage.js <----- */

.oauth-footer {
    display: flex;
    /* justify-content: center;  */
    flex-direction: column;
    margin-top: auto; 
    margin-bottom: 10%; 
    width: 75%;
    height: auto;
    /* border: 1px solid red; */
}

.oauth-footer img {
    width: 100%;
    height: auto;
    margin-top: 1rem;
}

.oauth-footer .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45%;
    /* margin-top: 1rem; */
    /* border: 1px solid red; */
}

.oauth-footer .button-container button {
    border: none;
    outline: none;
    box-shadow: none;
    background: transparent;
    cursor: pointer;
    /* border: 1px solid red; */
}

.oauth-footer .button-container button img {
    filter: brightness(0) saturate(100%) invert(100%);
}

.oauth-footer .button-container button:hover img {
    filter: brightness(0) saturate(100%) invert(31%) sepia(87%) saturate(505%) hue-rotate(168deg) brightness(98%) contrast(104%);
}


#error-message {
    color: #fc3d3d;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Sansation', sans-serif;
    visibility: hidden;
}

#error-message::before {
    content: "";
    background: url('/assets/auth-svg/error.svg') no-repeat;
    width: 1.5rem;
    height: 1.2rem;
}

#error-message.margin {
    margin-bottom: 0.5rem;
}

#error-message.show {
    visibility: visible;
}

#error-message.success::before {
    content: "";
    background: url('/assets/auth-svg/success.svg') no-repeat;
    width: 1.5rem;
    height: 1.2rem;
}

#error-message.success {
    color: #34C759;
}

/* EmailConf.js */

email-page {
    /* border: #fc3d3d 1px solid; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    gap: 10rem;
    padding-top: 10rem;
}


#center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

#center-container h1 {
    font-family: 'Sansation', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    
}

#center-container p {
    text-align: center;
    opacity: 0.7;
}

/*  ForgetPassword.js */

#forget-password {
    /* border: 1px solid red; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 75%;

}

#forget-password a {
    color: white;
    /* text-decoration: none; */
    font-size: 12px;
    font-family: 'Sansation', sans-serif;
    font-weight: 500;
}

#forget-password a:hover {
    color: #1966b1;
}

forgot-password, confirm-password, two-factor {
    /* border: 1px solid red; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding-top:  10rem;
    gap: 10rem;
    height: 100vh;
}

#pass-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* gap: 1rem; */
}

#pass-form h1, #two-fa-id h1 {
    color: #00FFFC;
    font-size: 28px;
}

#pass-form p, #two-fa-id p {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 4rem;
}


#confirm-pass, #two-fa-id {
    /* border: 1px solid red; */
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

#confirm-pass h1 {
    font-size: 28px;
    color: #00FFFC;
    margin-bottom: 2rem;
}

#confirm-pass button {
    margin-top: 5rem;
}

custom-input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 2.5rem;
    border: #00FFFC 1.5px solid;
    border-radius: 5px;
}

custom-input .input-icon {
    height: 1rem;
    margin-right: 10px;
    margin-left: 10px;
}

custom-input input {
    border: none;
    outline: none;
    box-shadow: none;
    background: transparent;
    color: white;
    font-family: 'Sansation', sans-serif;
    padding: 0.5rem;
    width: 100%;
}

.btk {
    background-color: rgba(0, 255, 252, 0.7);
    color: white;
    padding: 10px;
    width: 80%;
    height: 2.5rem;
    font-family: 'Sansation', sans-serif;
    font-weight: 600;
    border: none;
    outline: none;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    
    margin-top: 2rem;
}

.btk:hover {
    background-color: #1966b1;
}

.support {
    font-size: 0.8rem !important;
}

.support a {
    color: #00FFFC;
    font-size: 0.8rem;
}

.support a:hover {
    color: #1966b1;
}