game-header{
    grid-area: head;
    display: flex;
    align-items: end;
    justify-content: space-evenly;
    width: 100%;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.leftPlayer {
    width: 20%;
    aspect-ratio: 4.2;
    border: 2px solid var(--secondary-cyan);
    transform: translateY(0%);
    display: grid;
    grid-template-areas: "img player_info scor";
    grid-template-columns: 23.5% 35% 1fr;
}
.rightPlayer {
    width: 20%;
    aspect-ratio: 4.2;
    border: 2px solid var(--secondary-cyan);
    transform: translateY(0%) scaleX(-1);
    display: grid;
    grid-template-areas: "img player_info scor";
    grid-template-columns: 23.5% 35% 1fr;
}
#table {
    border-radius: var(--border-radius);
    width: 100%;
    height: 100%;
}

.c_game{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100%;
}
.c_game svg{
    width: 100%;
    height: 100%;
}
.GameShapes{
    position:absolute;
    width: 90%
;
    aspect-ratio: 2.1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table_container{
    width: 86.5%;
    height: 77.5%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius);
}

.GamePlayer{
       position: absolute;
       border : 1px solid var(--secondary-cyan);
    grid-area: img;
}
.GamePlayer1{
    position: absolute;
    border : 1px solid var(--secondary-cyan);
    grid-area: img;
    transform: scaleX(-1);
}

.playerinfo1{
    grid-area: player_info;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transform: scaleX(-1);
}

.playerinfo p, .playerinfo1 p{
    font-size: 1.6rem;
    color: var(--text-white);
}

.playerscor1{
    grid-area: scor;
    display:flex;
    justify-content: center;
    align-items: center;
    transform: scaleX(-1);
}

.playerscor h1, .playerscor1 h1{
    font-size: 4rem;
    color: var(--text-white);
}

.rackita1 {
    width: 50%;
    height: 15%;
    background-color: var(--secondary-cyan);
}

.rackit_of_p1{
    width: 1%;
    height: 12%;
    position: absolute;
    left: 0;
    background-color: var(--text-white);
}

.rackit_of_p2{
    right: 0;
    width: 1%;
    height: 12%;
    position: absolute;
    background-color: var(--secondary-cyan);
}
